{{block "balance" .}}
<p>
  Plotting balance in
  {{template "assets-selection" .}}
</p>
{{end}}


{{block "assets-selection" .}}
<select name="asset"
        hx-get="/plot" hx-target="#balance-plot" hx-trigger="change, load">
  {{range .Assets}}
    {{template "asset-option" .}}
  {{end}}
</select>
{{template "balance-plot" .}}
{{end}}


{{block "asset-option" .}}
<option value="{{.Value}}">{{.Label}}</option>
{{end}}


{{block "balance-plot" .}}
<div id="balance-plot" class="chart" hx-get="/plot">
  <br>
  <br>
  <br>
  Plot of balance in {{.AssetLabel}}.
  <br>
  <br>
  <br>
</div>
{{end}}
