{{block "holdings-page" .}}
<div id="holdings-page"
     hx-get="/holdings-page" hx-trigger="walletCreated from:body" hx-swap="outerHTML">
  <div class="page-title">
    <h2>Holdings Overview</h2>
  </div>
  <section id="holdings-balance-section">
    {{template "holdings-balance-section" .}}
  </section>
  <section id="holdings-wallets-section">
    {{template "holdings-wallets-section" .}}
  </section>
</div>
{{end}}

{{block "holdings-balance-section" .}}
<h3>Total Balance</h3>
<p>
  Plotting balance in
  {{template "assets-selection" .}}
</p>
{{end}}

{{block "assets-selection" .}}
<select name="symbol" hx-get="/plot" hx-target="#balance-plot" hx-trigger="change, load"
        hx-indicator="#spinner">
  {{range .Assets}}
  {{template "asset-option" .}}
  {{end}}
</select>
<div id="balance-plot" class="chart"></div>
<img  id="spinner" class="htmx-indicator" src="/static/img/spinner.svg"/>
{{end}}

{{block "asset-option" .}}
<option value="{{.Symbol}}">{{.Symbol}}</option>
{{end}}

{{block "balance-plot" .}}
<div id="balance-plot" class="chart">
  <br>
  <br>
  <br>
  Plot of balance in {{.AssetSymbol}}.
  <br>
  Last asset prices are
  <ol>
    {{range .Prices}}
    <li>{{.TimestampUtc}} - {{.ValueUsd}}$</li>
    {{end}}
  </ol>
  <br>
  <br>
  <br>
</div>
{{end}}

{{block "holdings-wallets-section" .}}
<h3>Wallets</h3>
<ul id="wallet-list" class="card-list">
  {{range .Wallets}}
  {{template "wallet-info-card" .}}
  {{end}}
  {{template "new-wallet-card" .}}
</ul>
{{end}}

{{block "wallet-info-card" .}}
<li>
  <button class="card" hx-get="wallet-page/{{.Id}}" hx-target="#main-content" hx-swap="innerHTML">
    <div class="card-title">
      {{.Name}}
    </div>
    <div class="card-details">
      {{.ValueUsd}}$
    </div>
  </button>
</li>
{{end}}

{{define "new-wallet-card"}}
<li>
  <button class="card" hx-get="/wallet-create-form" hx-target="#dialog" hx-on:click="showModal()" hx-swap="innerHTML">
    Create New
  </button>
</li>
{{end}}
