{{block "holdings" .}}
<ul id="wallet-list" class="block-list">
  {{range .Wallets}}
  {{template "wallet-info" .}}
  {{end}}
  {{template "wallet-new" .}}
</ul>
{{end}}

{{block "wallet-info" .}}
<li id="wallet-info">
  <button type="button" class="block" hx-get="wallet?name={{.Name}}" hx-target="#wallet-details">
    <em>{{.Name}}</em>
    {{.ValueUsd}}$
  </button>
</li>
{{end}}

{{define "wallet-new"}}
<li id="wallet-new">
  <button type="button" class="block" onclick="showOverlay('new-wallet-form')">
    <em>Create New</em>
  </button>
</li>
<div id="new-wallet-form"></div>
{{end}}

{{block "new-wallet-form" .}}
<div id="new-wallet-form" class="overlay" onclick="hideOverlay('new-wallet-form')">
  <form onmouseenter="blockHiding('new-wallet-form')"
        onmouseleave="allowHiding('new-wallet-form')"
        action="" hx-post="/wallet" hx-swap="none">
    <label for="name">Wallet Name:</label>
    <input type="text" id="name" name="Name" value="{{.DefaultWalletName}}"><br>
    <label for="value">Starting Value:</label>
    <input type="number" id="value" name="ValueUsd" value="0">$<br>
    <input type="submit" name="submit" value="Submit"
           onclick="hideOverlay('new-wallet-form')">
    <input type="button" name="cancel" value="Cancel"
           onclick="hideOverlay('new-wallet-form')">
  </form>
</div>
{{end}}
