{{block "holdings-page" .}}
<h2>Holdings Overview</h2>
{{template "holdings-balance-section" .}}
{{template "holdings-wallets-section" .}}
{{end}}

{{block "holdings-balance-section" .}}
<section id="balance-section">
  <h3>Total Balance</h3>
  <p>
    Plotting balance in
    {{template "assets-selection" .}}
  </p>
</section>
{{end}}

{{block "assets-selection" .}}
<select name="symbol" hx-get="/plot" hx-target="#balance-plot" hx-trigger="change, load"
        hx-indicator="#spinner">
  {{range .Assets}}
  {{template "asset-option" .}}
  {{end}}
</select>
<div id="balance-plot" class="chart"></div>
<img  id="spinner" class="htmx-indicator" src="/static/img/spinner.svg"/>
{{end}}

{{block "asset-option" .}}
<option value="{{.Symbol}}">{{.Symbol}}</option>
{{end}}

{{block "balance-plot" .}}
<div id="balance-plot" class="chart">
  <br>
  <br>
  <br>
  Plot of balance in {{.AssetSymbol}}.
  <br>
  Last asset prices are
  <ol>
    {{range .Prices}}
    <li>{{.TimestampUtc}} - {{.ValueUsd}}$</li>
    {{end}}
  </ol>
  <br>
  <br>
  <br>
</div>
{{end}}

{{block "holdings-wallets-section" .}}
<section id="holdings-section">
  <h3>Wallets</h3>
  <ul id="wallet-list" class="card-list">
    {{range .Wallets}}
    {{template "wallet-info-card" .}}
    {{end}}
    {{template "new-wallet-card" .}}
  </ul>
</section>
{{end}}

{{block "wallet-info-card" .}}
<li id="wallet-info-card">
  <button type="button" class="card" hx-get="wallet/{{.Id}}" hx-target="#page-content">
    <div class="card-title">
      {{.Name}}
    </div>
    <div class="card-info">
      {{.ValueUsd}}$
    </div>
  </button>
</li>
{{end}}

{{define "new-wallet-card"}}
<li id="new-wallet-card">
  <button type="button" class="card"
          hx-get="/new-wallet" hx-target="#dialog" hx-on:click="showModal()">
    Create New
  </button>
</li>
{{end}}

{{block "new-wallet-form" .}}
<form hx-post="/wallet" class="modal-content" hx-target="#wallet-list">
  <table>
    <tr>
      <td>
        <label for="name">Wallet Name:</label>
      </td>
      <td>
        <input type="text" id="name" name="Name" value="{{.DefaultWalletName}}">
      </td>
    </tr>
    <tr>
      <td>
        <label for="value">Starting Value:</label>
      </td>
      <td>
        <input type="number" id="value" name="ValueUsd" value="0">
        $  <!-- todo: select asset -->
        <!-- {{template "assets-selection" .}} -->
      </td>
    </tr>
  </table>
  <button type="submit" hx-on:click="hideModal()">Submit</button>
  <button type="button" hx-on:click="hideModal()">Cancel</button>
</form>
{{end}}
