{{define "modal"}}
<div id="modal" class="modal fade">
  <div id="underlay" class="modal-underlay" hx-on:click="hideModal()"></div>
  <div id="dialog" class="modal-dialog"></div>
</div>
{{end}}

{{block "wallet-form-create" .}}
<form class="modal-content" hx-post="/wallet" hx-target="#dialog" hx-swap="innerHTML">
  {{template "wallet-form-content" .}}
</form>
{{end}}

{{block "wallet-form-edit" .}}
<form class="modal-content" hx-put="/wallet/{{.Wallet.Id}}" hx-target="#dialog" hx-swap="innerHTML">
  {{template "wallet-form-content" .}}
</form>
{{end}}

{{block "wallet-form-content" .}}
<div class="form-fields">
  <div class="form-field">
    <label for="name">Wallet Name:</label>
    <input type="text" name="Name" value="{{.Wallet.Name}}">
  </div>
  <div class="form-field">
    <label for="value">Starting Value:</label>
    <input type="number" name="ValueUsd" value="{{.Wallet.ValueUsd}}">
    $  <!-- todo: select asset -->
    <!-- {{template "assets-selection" .}} -->
  </div>
</div>
<div class="form-buttons">
  <button class="form-button" type="submit" hx-on:click="hideModal()">Submit</button>
  <button class="form-button" type="button" hx-on:click="hideModal()">Cancel</button>
</div>
{{end}}
