{{block "wallet-page" .}}
<div id="wallet-page"
     hx-get="/wallet-page/{{.Wallet.Id}}"
     hx-trigger="walletEdited from:body, walletTransferCreated from:body, walletTransferEdited from:body"
     hx-swap="outerHTML">
  <div class="page-title">
    <h2>{{.Wallet.Name}}</h2>
  </div>
  <section id="wallet-overview-section">
    {{template "wallet-overview-section" .}}
  </section>
  <section id="wallet-transfers-section">
    <h3>Transfers</h3>
    {{template "wallet-transfers-section" .}}
  </section>
</div>
{{end}}

{{block "wallet-overview-section" .}}
<h3>Overview</h3>
<div class="wallet-value">
  Total Value: {{.Wallet.ValueUsd}}
</div>
<div class="buttons-row">
  <button class="clickable" hx-get="/wallet-edit-form/{{.Wallet.Id}}" hx-target="#dialog" hx-on:click="showModal()"
    hx-swap="innerHTML">
    Edit Wallet
  </button>
</div>
{{end}}


{{block "wallet-transfers-section" .}}
{{template "wallet-transfers-table" .}}
<div class="buttons-row">
  <button class="clickable" hx-get="/wallet-transfer-create-form/{{.Wallet.Id}}" hx-target="#dialog" hx-on:click="showModal()"
    hx-swap="innerHTML">
    New transfer
  </button>
</div>
{{end}}

{{block "wallet-transfers-table" .}}
<table class="wallet-transfers-table">
  {{range .WalletTransfers}}
  {{template "wallet-transfer-row" .}}
  {{end}}
</table>
{{end}}

{{block "wallet-transfer-row" .}}
<tr>
  <td>{{.Timestamp}}</td>
  <td class="transfer-{{.Type}}">{{.Ammount}}</td>
  <td>{{.AssetSymbol}}</td>
  <td>
    {{.Type}} {{.OtherWalletName}}
  </td>
</tr>
{{end}}
