{{block "wallet-transfer-create" .}}
<form class="modal-content" hx-post="/wallet-transfer/{{.WalletId}}" hx-target="#dialog" hx-swap="innerHTML">
  {{template "wallet-transfer-form-content" .}}
</form>
{{end}}

{{block "wallet-transfer-edit" .}}
<form class="modal-content" hx-put="/wallet-transfer/{{.WalletId}}" hx-target="#dialog" hx-swap="innerHTML">
  {{template "wallet-transfer-form-content" .}}
</form>
{{end}}

{{block "external-wallet-option" .}}
<option value="-1" id="external-wallet-option">
  {{.Name}}
</option>
{{end}}

{{block "wallet-transfer-form-content" .}}
<div class="form-fields">
  <div class="form-field">
    <select name="Type" id="wallet-transfer-type" class="one-quarter"
            hx-get="/external-wallet-name" hx-target="#external-wallet-option"
            hx-swap="outerHTML" hx-trigger="load, change">
      {{range .Types}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <div class="gap"></div>
    <select name="OtherWalletId" id="walletId" class="three-quarters">
      {{range .Wallets}}
      <option value="{{.Id}}">{{.Name}}</option>
      {{end}}
      {{template "external-wallet-option" .}}
    </select>
  </div>
  <div class="form-field">
    <label for="ammount" class="one-quarter">Ammount:</label>
    <div class="gap"></div>
    <input type="number" id="ammount" name="Ammount" value="{{.Ammount}}" class="three-quarters">
    {{template "assets-selection" .}}
  </div>
</div>
{{template "form-buttons"}}
{{end}}
